<!-- ng-template starts here-->
<h1>ng template</h1>
<ng-template #mymessage>
    <p>{{data.name}}</p>
    <p>{{data.phno}}</p>
</ng-template>
<div *ngTemplateOutlet="mymessage"></div>
<!-- ng-template ends here-->

<!-- ngFor starts here-->
<h1>ng for</h1>
<div *ngFor="let x of mydata">
    <p>{{x.company}}</p>
    <p>{{x.company_id}}</p>
    <div *ngFor="let y of x.details">
        <p>{{y.no_of_engineers}}</p>
        <p>{{y.no_of_managers}}</p>
    </div>
</div>
<!-- ngFor ends here-->

<!-- ngIf and else starts here -->
<div>
    <h1>ng if and else</h1>
<button (click)="show = !show">{{show ? 'hide' : 'show'}}</button>  
    show = {{show}}  
</div> 
<div *ngIf="show; else elseBlock">
    <p [ngStyle]="{'backgroundColor': 'red'}">Text to show</p></div>  
<ng-template #elseBlock>
    <p [ngStyle]="{'backgroundColor': 'yellow'}">Alternate text while primary text is hidden</p>
</ng-template>  
<!-- ngIf and else ends here -->

<!-- click event starts here-->
<h1>arrow function</h1>
<button (click)="arrowFunc(20)">Arrow func</button>
<!-- click event ends here -->