<!-- string interpolation or data binding -->
<h1>string interpolation or data binding</h1>
<h3>{{myname}}</h3>
<h5>{{myphonenum}}</h5>

<!-- property binding -->
<h1>property binding</h1>
<input type="text" value="dummyinput" >
<input bind-disabled="true" type="text" value="dummyinput" >
<button (click)="myfunc()">click here</button>

<!-- dom event binding -->
<h1>event binding</h1>
<p (mouseover)="mouseoverfunc()" (mouseout)="mouseoutfunc()" id="p-id">text me</p>
<input #input type="text" value="default value">
<button (click)="sample(input.value)">submit</button>


<!-- two way data binding -->
<div [ngStyle]="{'marginTop':'15px'}">
<input #myinput type="text" value="two way data binding">
<button (click)="submit(myinput.value)">submit</button>
<h4 id="two-way">{{myvalue}}</h4>
</div>

<!-- example -->
<div>
    <input [(ngModel)]="mydatavalue" type="text">
    <h1>{{mydatavalue}}</h1>
</div>
